.nav{
	overflow: hidden;
	font-family: Arial;
	width: 100%;
	position: fixed;
	background-color: #333;
	top: 0;
}
.nav a{
	display: inline-block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.nav a:hover{
	cursor: pointer;
}

.nav a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: rgb(72,43,175);
}

.list{
	font-family: Arial;
	/*border-collapse: collapse;*/
	width: 100%;
}
.list th{
	text-align: left;
	background-color: rgb(64,64,127);
	color: white;
}
.list td{
	text-align: left;
	background-color: white;
}
.list tr:nth-child(odd) td{
	background-color: rgb(180,215,255);
}
.list th, td{
	padding: 1em;
}
.list tr:hover td{
	background-color: rgb(125,125,255)
}

.msg_ok{
	position: absolute;
	margin-left: 3em;
	margin-top: 1em;
	text-align: center;
	color: green;
}
.msg_warn{
	position: absolute;
	margin-left: 3em;
	margin-top: 1em;
	text-align: center;
	color: red;
}
.wrapper{
	width=100%;
	height=100%;
}
.sider{
	display: inline-block;
	width: 33%;
	height: 70%;
	float: left;
}
.topper{
	width:100%;
	height:20%;
	top:0;
}
.middler{
	width:15em;
	height: 10em;
	padding: 3em;	
	border-style: solid;
	border-width: .5em;
	border-color: gray;
	float:left;
	border-radius: .5em
}
.shadow{
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	overflow: auto;
	left: 0;
	top: 0;
	transition: ease-in-out;
}
.lightbox{
	position:fixed;
	background-color: rgba(255,255,255,1);
	left: 25%;
	top: 25%;
	width: 25em;
	height: 20em;
	border-radius: 3em;
	z-index: 2;
	box-shadow:3px 2px;
}
.x{
	font-size: 1.5em;
	position: absolute;
	right:.7em;
	top:.7em;
	background-color: red;
	color: white;
	width:1em;
	height:1em;
	text-align: center;
	border-radius: .75em;
	box-shadow: .05em .05em black;
}
.x:hover{
	background-color: orange;
	cursor: pointer;	
}
.disable{
	display: none;
}
button{
	background-color: rgb(72,43,175);
	color: white;
	border: none;
	width: 6.5em;
	height: 3em;
	box-shadow: none;
	border-radius: .7em;
}
button:hover{
	cursor:pointer;
	background-color: darkorange;
}

